<div class="content">
  <div class="logo">logo</div>

  <div class="filler"></div>

  <button mat-flat-button class="menu-button" [class.menu-open]="menuOpen" [matMenuTriggerFor]="menu"
          (menuOpened)="menuOpen = true" (menuClosed)="menuOpen = false" disableRipple>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu xPosition="before" #menu="matMenu">
    <a mat-menu-item routerLink="/home">Introduction</a>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="/visualization/overview">Overview Visualization</a>
    <mat-divider></mat-divider>
  </mat-menu>
</div>
