<div class="search-box">
  <mat-form-field>
    <mat-select class="disease" placeholder="Select disease ..." [value]="selectedIndexItem"
                (selectionChange)="setSelectedIndexItem($event.value)">
      <mat-option *ngFor="let item of indexItems$ | async" [value]="item">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="search" placeholder="Search for food ..." [matAutocomplete]="auto"
           [disabled]="!selectedIndexItem">
    <mat-autocomplete [displayWith]="datasetItemDisplay" (optionSelected)="selectedDatasetItem = $event.option.value"
                      #auto="matAutocomplete">
      <mat-option *ngFor="let item of datasetItems$ | async" [value]="item">
        {{ item.dest_name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button [disabled]="!selectedIndexItem || !selectedDatasetItem" (click)="doSearch()">
    Search
  </button>
</div>

<br />

<a routerLink="/visualization/details" queryParamsHandling="preserve">
  Show Detail
</a>
