<div class="search-box">
  <mat-form-field class="disease">
    <mat-placeholder>Select disease ...</mat-placeholder>
    <mat-select class="input" [formControl]="diseaseControl">
      <mat-option *ngFor="let disease of diseaseOptions | async" [value]="disease">
        {{ disease.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="food">
    <mat-placeholder>Search for food ...</mat-placeholder>
    <input matInput class="input" type="search" [formControl]="foodControl" [matAutocomplete]="auto">
    <mat-autocomplete [displayWith]="foodItemDisplay" #auto="matAutocomplete">
      <mat-option *ngFor="let food of foodOptions | async" [value]="food">
        {{ food.dest_name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button class="search" [disabled]="!searchEnabled" (click)="searchVisualization()">
    Search
  </button>
</div>

<button mat-button class="switch" [routerLink]="['/visualization', inOverview ? 'details' : 'overview']"
        queryParamsHandling="preserve" [disabled]="!switchEnabled"
        (click)="logShowToggle()">
  Show {{ inOverview ? 'Details' : 'Overview' }}
</button>
