:host {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;

  .background-box {
    width: 100%;
    max-width: 90rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    .inner-box {
      width: 100%;
      max-width: 66rem;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 7.125rem;
      padding-bottom: 5rem;

      .content {
        width: 100%;
        height: 100%;
        padding: 7.125rem;

        .title {
          padding-bottom: 3.75rem;
        }

        .text {
          height: 100%;
          padding-bottom: 5rem;

          img {
            height: 100%;
            float: right;
          }
        }

        .logos {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          height: 2.5rem;

          img {
            height: 2.5rem;
          }
        }
      }
    }
  }
}
