<div class="background-box">
  <div class="inner-box">
    <div class="content">
      <div class="title">
        Envisioning SPOKE:
        <br />
        3M Nodes and 30M Edges
      </div>

      <div class="text">
        <!-- TODO: Add content text -->
        Placeholder text

        <img src="assets/images/network-image.png" alt="An image of an example network">
      </div>

      <div class="logos">
        <img src="assets/logos/NSF_4-Color_bitmap_Logo-sm.svg" alt="NSF logo">
        <img src="assets/logos/ncats-logo.png" alt="NIH logo">
        <img src="assets/logos/ucsf-logo.svg" alt="UCSF logo">
        <img src="assets/logos/cns-logo.svg" alt="CNS logo">
      </div>
    </div>
  </div>
</div>
