<div class="white-space"></div>
<div class="background-box">
  <div class="inner-box">
    <div class="content">
      <div class="title">
        Envisioning SPOKE:
        <br />
        3M Nodes and 30M Edges
      </div>

      <div class="text">
        <!-- TODO: Add content text -->
        The Scalable Precision Medicine Oriented Knowledge Engine (<a href="https://spoke.ucsf.edu/">SPOKE</a>) graph federates about 19 open
        datasets into a public data commons of health relevant knowledge. This site lets users explore
        the massive SPOKE knowledge graph.
        <br /><br />
        The site was designed for two user groups: (1) novice users interested to understand the coverage
        and quality of SPOKE data and (2) expert users interested to analyze and optimize the interlinked
        knowledge graphs in SPOKE. The overview visualization shows the different entity type and their
        diverse interlinkages.
        <br /><br />
        This project is funded by NSF award <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2033569&HistoricalAwards=false">2033569</a>.
        <br /><br />
        SPOKE is a fully interactive tool for exploring the interconnections<br />between data.

        <div class="go-to-button">Go To SPOKE</div>

        <img src="assets/images/network-image.png" alt="An image of an example network">
      </div>

      <div class="logos">
        <img src="assets/logos/NSF_4-Color_bitmap_Logo-sm.svg" alt="NSF logo">
        <img src="assets/logos/ncats-logo.png" alt="NIH logo">
        <img src="assets/logos/ucsf-logo.svg" alt="UCSF logo">
        <img src="assets/logos/cns-logo.svg" alt="CNS logo">
      </div>
    </div>
  </div>
</div>
