:host {
  ::ng-deep .mat-drawer-backdrop {
    display: none;
  }

  ::ng-deep .mat-drawer-container {
    width: 100%;
  }

  display: block;

  .drawer {
    overflow-y: visible;

    .toggle {
      position: absolute;
      top: 1rem;
      left: 100%;

      visibility: visible;

      .icon {
        transition: transform 400ms; // Same duration as mat-drawer

        &.inverted {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
